body {
  font-family: sans-serif;
  background-color: #111;
  color: white;
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

p {
  color: aliceblue;
}

canvas {
  background-color: #111;
}
